html{

    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:darkorange;
    color: aliceblue;
    line-height: 2;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 13pt;
    font-style: italic;
}

section{
    margin: 2.8em 0;
  }

.intro{
    text-align: center;
    column-count: 5;
    line-height: 1.3;
}

.ingredients{
    line-height: 1.2;
}
p{
    text-align: left;
    line-height: 1.2;

    h4{
        font-weight: 400;
        text-align: left;
    }
}

footer{
    text-align: center;
}

